@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-family: "Poppins",sans-serif;
}

.navbar nav ul{
  list-style-type: none;
  margin: 0;
}
.navbar nav ul li{
  display: inline;

}
.navbar nav ul li a{
  display: inline-block;
  padding: 1rem 1rem;
  color: white;
  text-decoration: none;
  transition: 500ms cubic-bezier(0.26, 0.8, 0.29, 0.98);
}
.navbar nav ul li a:hover{
  transform: scale(1.1);
}
.navbar nav ul li a:active{
  transition: 200ms cubic-bezier(.02,1.04,1,1.26);
  transform: scale(1.2);
}

button:hover{
  transform: scale(1.1);
}
button:active{
  transition: 200ms cubic-bezier(.02,1.04,1,1.26);
  transform: scale(1.2);
}
button svg{
  margin: 0;
  padding:0;
}